.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;

}


.text {
  color: white;
  max-width: 100%;
  height: auto;
  font-family:'Roboto Condensed','Roboto', sans-serif;
  font-size: clamp(1.5rem, 2vw, 2rem);
  line-height: 100%;
  letter-spacing: 4px;
  align-self: center;
  margin: 0;
  text-align: center;
  margin-top: 35px;
  margin-left: 75px;
  margin-right: 75px;
}

.miboton{
  display: flex;
  justify-content: center;
  align-items: center;


  width: 20%;

  max-width: 400px;
  height: auto;
  margin-top: 20px !important ;
  margin: auto;


  border-radius: 50px;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: white;
  font-size: 40px;
  cursor: pointer;
}

.image {
  width: 90%;
  max-width: 900px;
  height: auto;
  margin: 20px auto;
}



@media (max-width: 1000px) {
  .text {
    font-size: clamp(1.25rem, 1vw, 2rem);
    margin-left: 50px;
    margin-right: 50px;

  }
}

@media (max-width: 500px) {
  .text {
    font-size: clamp(0.75rem, 1vw, 2rem);
    margin-left: 50px;
    margin-right: 50px;

  }

}