.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}

@media (max-width:768px){
  .container{
    flex-direction: column;
  }
}

.text {
  color: white;

  max-width: 100%;
  height: 83px;
  top: auto;
  left: auto;
  
  opacity: 1;

  font-family:'Roboto Condensed','Roboto', sans-serif;
  font-weight: 300;
  font-style: Light;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 4px;
  text-align: center;
  margin: 20px auto;
  
}

.miboton{
  display: flex;             
  justify-content: center;   
  align-items: center;
  margin-top:500px;

  width: 80%;            
  max-width: 400px;      
  height: 90px;          
  margin: 20px auto;     
  
  border-radius: 50px;     
  border: 1px solid #ffffff;

  background-color: transparent;
  color: white;
  font-size: 40px;
  cursor: pointer;
}

.imagenConFiltro {
 width: 90%;             
  max-width: 900px;
  height: auto;
  margin: 20px auto;

  backdrop-filter: blur(50px); 
  -webkit-backdrop-filter: blur(50px); 
  background-color: rgba(255, 255, 255, 0.1); 
  margin: 20px auto;
  
}






