.text {
  color: white;

  width: 1508;
  height: 83;
  top: 612.63px;
  left: 110px;
  angle: 0 deg;
  opacity: 1;

  font-family:'Oswald', sans-serif;
  font-weight: 300;
  font-style: Light;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;

  transform: translate(0,350);
}




