.text {
  color: white;

  width: 1508px;
  height: 83px;
  top: 612.63px;
  left: -200px;
  
  opacity: 1;

  font-family:'Oswald', sans-serif;
  font-weight: 300;
  font-style: Light;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;

  transform: translate(-20,350);
  
}

.miboton{
  position: absolute;      
  display: flex;             
  justify-content: center;   
  align-items: center;

  top: 500px;            
  left: 515px;

  width: 425px;           
  height: 123px;

  border-radius: 50px;     
  border: 1px solid #000;

  padding: 10px;

  cursor: pointer;           
  background-color: #0070f3;  /*CAMBIAR!!!*/
  color: white;              
  font-size: 24px;

}

.imagenConFiltro {
  position: absolute;      
  top: 145px;              
  left: 100px;             
  width: 1250px;           
  height: 200px; 

  backdrop-filter: blur(50px); 
  -webkit-backdrop-filter: blur(50px); 
  
  
  background-color: rgba(255, 255, 255, 0.1); 
  
  opacity: 1; 
  
}






