.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 5%;
  width: 70%;
  color: white;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px) saturate(120%);
  -webkit-backdrop-filter: blur(30px) saturate(120%);
  border: 2px solid rgba(255,255,255,0.08);
    border-radius: 50px; 
  box-shadow:
  0 8px 32px 0 rgba(0, 0, 0, 0.08),
  inset 0 1px 0 0 rgba(255, 255, 255, 0.08),
  inset 0 -1px 0 0 rgba(0, 0, 0, 0.01);
}


.textAbout {
  color: white;
  max-width: 100%;
  height: auto;
  font-family:'Oswald', sans-serif;
  font-size: clamp(3rem, 3vw, 5rem);
  line-height: 100%;
  letter-spacing: 4px;
  align-self: center;
  margin: 0;
  text-align: center;
  margin-top: 35px;
  margin-left: 75px;
  margin-right: 75px;
}

.text {
  color: white;
  max-width: 100%;
  height: auto;
  font-family:'Oswald', sans-serif;
  font-size: clamp(1.5rem, 2vw, 2rem);
  line-height: 100%;
  letter-spacing: 4px;
  align-self: center;
  margin: 0;
  text-align: center;
  margin-top: 35px;
  margin-left: 75px;
  margin-right: 75px;
  margin-bottom: 35px;

}

@media (max-width: 1000px) {
  .text {
    font-size: clamp(1.25rem, 1vw, 2rem);
    margin-left: 50px; 
    margin-right: 50px;
  }
  .container{
  margin-top: 10%;
  }

}


@media (max-width: 650px) {
  .container {
    width: 90%;
  margin-top: 10%;
    
  }

  .textAbout, .text {
    margin-left: 20px;
    margin-right: 20px;
  }
}
