.text {
  color: lightgreen;
  text-align: center;
  z-index: 10
}

.navbar {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Esto es pa q sea compatible con safari xd */
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 50px;
  padding: 0.1rem 0.3rem;
  position: relative;
  width: fit-content;
  margin: 1rem auto;
  display: flex;
  align-items: center;
}

.navList {
  list-style: none;
  position: relative;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0 1rem;
}

.link {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.1rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  padding: 0.3rem 0.75rem;
  display: block;
  position: relative;
  z-index: 2;
  text-align: center;
}

.slider {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: all 0.35s cubic-bezier(0.25, 0.8, 0.25, 1);
}