.text {
  color: red;
  text-align: center;
}

.fondo {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
  background-image: url("/2026/FondoLandingDarker.svg");
  background-size: cover;
  background-position: center;
}
