@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Oswald:wght@200..700&display=swap');
@import "tailwindcss";


@layer theme {
  @theme {
    --font-oswald: "Oswald";
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {

  overflow-x: hidden; 
  overflow-y: scroll; 
}

