@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



html {
  /* Propiedades del fondo */
  background-color: #f0f0f0; /* Ejemplo de color de fondo */
  background-image: url('/FondoLanding.png'); /* Ejemplo de imagen */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Mantiene el fondo fijo al hacer scroll */
  ;
}


body {
  background: transparent;
  min-height: 100vh;
}